<html>
<head>
    <title>Splitter</title>
</head>
<body>
<div class="center">
    <h1>Welcome to Splitter</h1>
    <div>
        <h2>your username is <span th:text="${member.github()}"></span></h2>
    </div>
    <div class="list-group">
        <ul>
            <li th:each="group : ${groups}">
                <span th:text="${group.name}"> Group's name</span>
            </li>
        </ul>
        <div>
            <button><a href="/createGroup">Create a group</a></button>
        </div>
        </a>
    </div>
</div>
</body>
</html>
